<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:22%">
<app-client-sider-bar></app-client-sider-bar>
</div>

<!-- Page Content -->
<div style="margin-left:22%">


  <br><br>
  <div class="container">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Requests ({{dataArray.request.length}})</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" width="100%">
            <thead>
              <tr>
                <th scope="col">Status &nbsp;<i class="fa fa-sort"> </i> </th>
                <th scope="col"> Mission_id </th>
                <th scope="col"> Title Mission </th>
                <th scope="col"> Email Freelancer </th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataArray.request  ; index as i">

                <td *ngIf="item.status==='accepted' "> <button class="btn btn-success">{{item.status}}</button>
                </td>
                <td *ngIf="item.status==='encours' "><button class="btn btn-warning">{{item.status}}</button> </td>
                <td *ngIf="item.status==='refus' "><button class="btn btn-danger">{{item.status}}</button> </td>
                <td>{{item.mission.id}}</td>
                <td>{{item.mission.title}}</td>

                <td> <a [routerLink]="['/detailfreelancer',item.freelancer_id]"> {{item.freelancer.email }} </a>
                </td>

                <td>
                 
                            <button 
                    (click)="getdata(item.status,item.mission_id,item.freelancer_id, item.id)"
                    class="btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal"><i
                      class="fa fa-edit" aria-hidden="true"></i> Update Request </button>
</td><td>
                  <button
                    (click)="delete(item.id , i)" *ngIf="item.status==='encours' || item.status==='refus'   " class="btn btn-outline-danger"><i class="fa fa-trash"
                      aria-hidden="true"></i> Delete </button>
                      <button readonly style="cursor: not-allowed;" disabled 
                      (click)="delete(item.id , i)" *ngIf="item.status==='accepted' "  class="btn btn-outline-danger"><i class="fa fa-trash"
                        aria-hidden="true"></i> Delete </button>
                </td>


              </tr>
            </tbody>

          </table>


        </div>

      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- form update start here -->
        <form [formGroup]="update" #f="ngForm" (ngSubmit)="updaterequest (f) ">
          <!-- firstName validation start here -->
          <div class="form-group">
            <label for="exampleFormControlInput1">Category </label>
            <select class="form-control" id="exampleFormControlSelect1" *ngIf="test===true && y===true" [(ngModel)]="dataMission.status" required
              formControlName="status">
              <option value="encours">En Cours</option>
              <option value="accepted">accepted</option>
              <option value="refus">refus</option>
            </select>
            <select class="form-control" id="exampleFormControlSelect1" *ngIf="test===false && y===false" [(ngModel)]="dataMission.status" required
            formControlName="status">
            <option value="encours">En Cours</option>
            <option value="refus">refus</option>

          </select>

          </div>



          <!--  <div class="form-group">
                            
                                  <label for="exampleFormControlInput1">Status </label>
                                  <input type="text" class="form-control" placeholder="Status" [(ngModel)]="dataMission.status" required formControlName="status"  minlength="2" maxlength="20">
                                </div>-->

          <div class="form-group">
            <label for="exampleFormControlInput1">Freelancer </label>
            <input type="text" class="form-control" placeholder="Freelancer" [(ngModel)]="dataMission.freelancer_id"
              required formControlName="freelancer_id" readonly style="cursor: not-allowed;" minlength="2"
              maxlength="20">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Mission </label>
            <input type="text" class="form-control" placeholder="Mission" [(ngModel)]="dataMission.mission_id"
              required formControlName="mission_id" readonly style="cursor: not-allowed;" minlength="2"
              maxlength="20">
          </div>

          <div class="alert alert-success" *ngIf="messageSuccess">
            {{messageSuccess}}
          </div>

          <button class="btn btn-primary">Update Request</button>
        </form>



        <!-- form update end here -->
      </div>

    </div>
  </div>
</div>


</body>
</html>
