<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:16%">
<app-client-sider-bar></app-client-sider-bar>
</div>

<!-- Page Content -->
<div style="margin-left:19%">

  <div class="container">

    <div style="text-align: right;">
        <button class="btn btn-primary"  (click)="open()"> Open  <i class="fa fa-eye"></i> </button>
    <button class="btn btn-warning" (click)="print()"> Print <i class="fa fa-print"></i> </button>
    <button class="btn btn-success"  (click)="download()"> Download  <i class="fas fa-download"></i> </button>
    </div>

    <br> <br>
    <div class="container">
        <div class="main-body">
            <div class="row">

                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                         
                            <div class="d-flex flex-column align-items-center text-center">
                                <h4> Client Details : </h4>
                                <div class="mt-3" *ngFor="let item of dataArrayy">


                                    <h5>{{item.client.firstname}} {{item.client.lastname}}</h5>
                                    <h6 class="title">
                                        {{item.client.email}}
                                    </h6>
                                    <h6 class="title"
                                        *ngIf="item.client.phone && item.client.phone !== 'null' ">
                                        {{item.client.phone}}
                                    </h6>

                                    <h6 class="title"
                                        *ngIf="item.client.adresse && item.client.adresse !== 'null' ">
                                        {{item.client.adresse}}</h6>




                                </div>
                                <h4> Freelancer Details : </h4>
                                <div class="mt-3" *ngFor="let item of dataArrayx">
                                    <h5>{{item.freelancer.firstname}} {{item.freelancer.lastname}}</h5>
                                    <h6 class="title"
                                        *ngIf="item.freelancer.email && item.freelancer.email !== 'null' ">
                                        {{item.freelancer.email}}
                                    </h6>
                                    <h6 class="title"
                                        *ngIf="item.freelancer.phone && item.freelancer.phone !== 'null' ">
                                        {{item.freelancer.phone}}
                                    </h6>


                                    <h6 class="title"
                                        *ngIf="item.freelancer.adresse && item.freelancer.adresse !== 'null' ">
                                        {{item.freelancer.adresse}}</h6>



                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="card" *ngFor="let item of dataArrayy">
                        <div class="card-body">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <h4> Mission Details : </h4>
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Mission Title </h6>
                                        </div>
                                        <h6 class="col-sm-5">
                                            {{item.title}}
                                        </h6>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Description </h6>
                                        </div>
                                        <h6 class="col-sm-5">
                                            {{item.description}}
                                        </h6>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Budget </h6>
                                        </div>
                                        <h6 class="col-sm-5">
                                            {{item.budget}}
                                        </h6>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Begining Date </h6>
                                        </div>
                                        <h6 class="col-sm-5">
                                            {{item.beginingDate}}
                                        </h6>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Duration </h6>
                                        </div>
                                        <h6 class="col-sm-5">
                                            {{item.duration}}
                                        </h6>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>


</div>
  <br><br>

</div>



</body>
</html>
