
  <div class="container-xxl bg-white p-0">
    <div class="container-xxl position-relative p-0">
        <app-user-navbar></app-user-navbar>

        <section id="sidebar"> <br><br><br>
          <p> Home | <b> All Freelancers  </b></p>
          <div class="border-bottom pb-2 ml-2">
              <h4 id="burgundy"> Filters  </h4>
          </div>
         <br>
          <div class="border-bottom pb-2 ml-2">
            <div class="form-group">
              <h6 class="font-weight-bold">Language</h6>
              <div id="orange"><span class="fa fa-minus"></span></div>
             
              <div class="py-3">
                <h5 class="font-weight-bold">Rating</h5>
               <form >
                <div class="form-group"   >  
                  <input (click)="this.getallfreelancers()" type="radio" value="" name="1" id="exampleCheck1" >  &nbsp;
                  <label for="artisan">All </label>      
              </div>
              <div class="form-group"   >  
                <input (click)="freelancersbyrating (1)" type="radio" value="1" name="1" id="exampleCheck1" >  &nbsp;
                <label for="artisan">More Than 1 <i class="fas fa-star" style=" color: rgb(10, 10, 94);"></i>  </label>      
              </div>
                <div class="form-group"   >  
                    <input (click)="freelancersbyrating (5)" type="radio" value="5" name="1" id="exampleCheck1" >  &nbsp;
                    <label for="artisan">More Than 5 <i class="fas fa-star" style=" color: rgb(10, 10, 94);"></i>  </label>      
                </div>
                <div class="form-group"   >  
                    <input (click)="freelancersbyrating (10)" type="radio" value="10" name="1" id="exampleCheck1" >  &nbsp;
                    <label for="artisan">More Than 10 <i class="fas fa-star" style=" color: rgb(10, 10, 94);"></i> </label>      
                </div>
              <div class="form-group"   >  
                  <input (click)="freelancersbyrating (50)" type="radio" value="50" name="1" id="exampleCheck1" >  &nbsp;
                  <label for="artisan">More Than 50 <i class="fas fa-star" style=" color: rgb(10, 10, 94);"></i>  </label>      
              </div>
              <div class="form-group"   >  
                <input (click)="freelancersbyrating (100)" type="radio" value="100" name="1" id="exampleCheck1" >  &nbsp;
                <label for="artisan">More Than 100 <i class="fas fa-star" style=" color: rgb(10, 10, 94);"></i> </label>      
            </div>   
                  
            </form>
            </div>
              <form class="formSteps" [formGroup]="stepOneOfOneForm" >
                <ng-select 
                [multiple]="true"
                 placeholder="Select Language"
                    formControlName="language_id"
                    name="language_id"
                      [(ngModel)]="selectedDefaultLanguage"
                      (change)="getfreelancerbylanguage()" 
                        >
                  <ng-option *ngFor="let l of languages" [value]="l.id"   >
                     {{l.name}} 
              
                  </ng-option>
                  
               </ng-select>
                </form>
                              
            </div>
            </div>
        
          <br>
        
        
        
          
        </section><br><br><br><br>
        <div class="container">
          <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let data of dataArray">
              <div class="our-team">
                <div class="picture">
                  <a [routerLink]="['/detail-freelancer',data.id]">  <img class="img-fluid" [src]="data.user_image_url"></a>
                </div> 
                <div class="team-content">
                  <h4 class="name">{{data.lastname}} {{data.firstname}} </h4>
                  <h4 class="title" *ngIf="data.description && data.description !== 'null' "  > {{data.description}}</h4>
                  <h4 class="title" *ngIf="data.earning && data.earning !== 'null' " > {{data.earning}} DT / jour</h4>
                </div>
                <ul class="social">
                  <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
               
        
                </ul>
              </div>
            </div>
           
          
           
          </div>
          </div>
        </div>
