<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:16%">
  <app-admin-siderbar></app-admin-siderbar>
</div>

<!-- Page Content -->
<div style="margin-left:20%">


  <br><br>

  <div id="wrapper">

    <div id="content-wrapper"  class="d-flex flex-column">
  
        <!-- Main Content -->
        <div id="content">
                <div class="container-fluid">

                    <div style="display: block" *ngIf="chartReady">
                        <canvas mdbChart
                          
                          [chartType]="chartType"
                          [datasets]="chartDatasets"
                          [labels]="chartLabels"
                          [colors]="chartColors"
                          [options]="chartOptions"
                          [legend]="true"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
                        </canvas>
                      </div>

  
                </div>
 
  
    </div>

  
    </div>
  
</div>


</div>



</body>
</html>
