<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:16%">
<app-client-sider-bar></app-client-sider-bar>
</div>

<!-- Page Content -->
<div style="margin-left:19%">


  <br><br>
  <div class="container">
    <form [formGroup]="conversationFormGroup" (ngSubmit)="getOrcreateConversation()">
      <div>
          <label>Conversation Name</label>
          <input type="text" matInput placeholder="abcd" formControlName="name">
          <button class="btn btn-outline-danger" mat-raised-button color="primary" type="submit" [disabled]="!conversationFormGroup.valid" title="Get Or Create Conversation">GetOrCreateConversation</button>
      </div>
     

  </form>

  <div>
      <div id="remote-container">

      </div>
      <div id="local-container">

      </div>
  </div>
</div>
<div class="container-fluid"> 

  <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">
          <i class="fas fa-comment-alt"></i> Chat
        </div>
        <div class="msger-header-options">
          <span><i class="fas fa-cog"></i></span>
        </div>
      </header>
    
      <main class="msger-chat"  *ngFor="let data of ordered_msges | orderBy: 'created_at': 'asc'">
  
        <div class="msg right-msg" *ngIf="data.sender_id === current_user.id">
          <div
           class="msg-img"
           style="background-image: url({{current_user.user_image_url}})"
          ></div>
    
          <div class="msg-bubble" >
 
    
            <div class="msg-text">
             {{data.text}}
            </div>
          </div>
        </div>
       <div class="msg left-msg" *ngIf="data.sender_id !== current_user.id">
          <div
           class="msg-img"
           style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjTThsV0nUW7Qr3Y4QC8rs3gdI3MunygNrGQ&usqp=CAU)"
          ></div>
    
          <div class="msg-bubble" >
 
    
            <div class="msg-text">
              {{data.text}}
            </div>
          </div>
        </div>
        
        
      </main>
    
      <form class="msger-inputarea" [formGroup]="addmessage" #f="ngForm" (ngSubmit)="sendmessage (f); f.reset()">
        <input name="text" class="form-control"  formControlName="text"  required type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
    </section>


</div>
</div>



</body>
</html>
