<div class="dashboard" id="accordionSidebar" >
    <div class="dashboard-nav"  style="background-color: rgb(38, 8,158);">
        <header>
            <a class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#" class="brand-logo">    <i class="fas fa-laugh-wink" style="color: white;" ></i> <span>CLIENT</span></a>
            <div class="nav-item-divider"></div>
        </header>
        <nav class="dashboard-nav-list">
            <a routerLink="/dashbord-client" class="dashboard-nav-item "><i class="fas fa-tachometer-alt"></i> dashboard </a>
            <a  routerLink="/postulated-missions-client" class="dashboard-nav-item " ><i  class="fas fa-envelope"></i>postulated missions </a>  
            <a class="dashboard-nav-item dashboard-nav-dropdown-toggle" data-toggle="collapse" data-target="#settingscolaps"
            aria-expanded="true" aria-controls="collapseTwo"><i class="fas fa-briefcase"></i>  My Mission List  </a>  
            <div id="settingscolaps" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-black py-2 collapse-inner rounded">              
                    <a  routerLink="/missions-client" class="dashboard-nav-item"><i class="fas fa-laptop"></i> All Missions </a>              
                    <a routerLink="/active-missions-client" class="dashboard-nav-item"><i class="fas fa-chart-line"></i> Active Mission </a>   
                    <a  routerLink="/ended-missions-client" class="dashboard-nav-item"><i class="fas fa-clipboard-list" ></i> Ended Mission </a>   
                </div>
            </div>

     
            <a class="dashboard-nav-item dashboard-nav-dropdown-toggle" data-toggle="collapse" data-target="#profilcolapse"
            aria-expanded="true" aria-controls="collapseTwo"><i class="fas fa-cogs"></i>  Settings  </a>  
            <div id="profilcolapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-black py-2 collapse-inner rounded">              
                    <a  routerLink="/edit-client" class="dashboard-nav-item"><i class="fas fa-user"></i> Profil </a>              
             
                </div>
            </div>
            
            <a  routerLink="/addmission" class="dashboard-nav-item "><i class="fas fa-tachometer-alt"></i> Post New Mission </a>
           
 

            <div class="nav-item-divider"></div>
            <a (click)="logout()" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
        </nav>
    </div>
    <div class="dashboard-app"></div>
  </div>
  